<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>


  <body class="sb-nav-fixed">
    <div id="layoutSidenav_content">

      <main>
        <%- include('./' + view_content) %>
      </main>
    </div>
    <%- include('./partials/scripts') %>
      <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
      <script src="/socket.io/socket.io.js"></script>

    
  </body>

</html>