<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>


    <body class="sb-nav-fixed">
      <div id="layoutSidenav_content">

        <main>
          <%- include('./' + view_content) %>
        </main>


      </div>
      <%- include('./partials/scripts') %>
    </body>

</html>